@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    cursor: pointer;
}

:root {
    --mainImage: url(../Assets/Photos/mainBackground.png)
}

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--mainImage);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
    display: flex;
    flex-direction: column;
    /* filter: brightness(70%); */
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    align-items: center;
    height: 120px;
    border-bottom: 1px solid #B7B8B8;
    padding-bottom: 20px;
    width: 80%;
}

nav img {
    height: 90px;
}

.navRight {
    display: flex;
    gap: 40px;
}

nav p {
    font-size: 18px;
    font-weight: 300;
    color: #B7B8B8;
    cursor: pointer;
}

nav p:hover {
    color: #ffffff;
}

.main-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    width: 70%;
    height: 50%;
    position: relative;
    left: 9%;
    top: 150px;
    gap: 5px;
}

.main-hero h1 {
    font-size: 70px;
    color: #ffffff;
    width: 60%;
}

.main-hero h1 span {
    padding-bottom: 1px;
    border-bottom: 10px solid;
    color: #6663E9;
}

.main-hero p {
    color: #B7B8B8;
    font-size: 20px;
    width: 50%;
}

.main-hero p span {
    color: #6663E9;
    font-size: 25px;
    font-weight: 500;
}

.main-hero button {
    color: #ffffff;
    background-color: #6663E9;
    padding: 15px 50px;
    text-align: center;
    border-radius: 40px;
    font-size: 20px;
    border: 5px solid #6663E9;
}

.main-hero button:hover {
    color: #6663E9;
    background-color: #ffffff;
    border: 5px solid #6663E9;
}

.sticky-bubble {
    position: fixed;
    bottom: 50px;
    right: 20px;
    border-radius: 50%;
    background-color: #6663E9;
    width: 90px;
    height: 90px;
    transition: all 0.3s;
    text-align: center;
    filter: brightness(80%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-bubble p {
    text-align: center;
    color: #F6F8FA;
    font-size: 15px;
    font-weight: 600;
    z-index: 5;
}

.sticky-bubble:hover {
    background-color: #6663E9;
    filter: brightness(100%);
    cursor: pointer;
}


.logo-gallary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 150px;
    gap: 10%;
    width: 80%;
    position: absolute;
    left: 200px;
    border-radius: 40px;
    bottom: -80px;
    z-index: 2;
}

.logo-gallary img {
    height: 100px;
    transition: all ease-in-out 0.2s;
}

.logo-gallary img:hover {
    /* height: 50px; */
    transform: scaleY(1.1);
    cursor: pointer;
}

.estate-gallary-1 {
    background-color: #F6F8FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    height: 950px;
    /* gap: 20px; */
    padding-top: 80px;
}

.estate-gallary-1 h1 {
    color: #1f1f1f;
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    width: 30%;
}

.gallary-grid {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.gallary-1 {
    background: url(../Assets/Photos/cardImage1.png);
    /* background-size: px; */
    background-position: 50%;
    background-size: cover;
    height: 450px;
    width: 400px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.gallary-2 {
    background: url(../Assets/Photos/cardImage2.png);
    /* background-size: 500px; */
    /* background-position: 50%; */
    background-size: cover;
    height: 450px;
    width: 400px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}

.gallary-3 {
    background: url(../Assets/Photos/cardImage3.png);
    /* background-size: 500px; */
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 400px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 100px;
}

.estate-gallary-2 {
    height: 950px;
    display: flex;
    flex-direction: column;
}

.gallary-4 {
    background: url(../Assets/Photos/cardImage4.png);
    /* background-size: px; */
    background-position: 50%;
    background-size: cover;
    height: 450px;
    width: 400px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.gallary-5 {
    background: url(../Assets/Photos/cardImage5.png);
    /* background-size: 500px; */
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 400px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}

.gallary-6 {
    background: url(../Assets/Photos/cardImage6.png);
    /* background-size: 500px; */
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 400px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 100px;
}

.gallary-7 {
    background: url(../Assets/Photos/cardImage7.png);
    /* background-size: px; */
    background-position: 50%;
    background-size: cover;
    height: 450px;
    width: 400px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.gallary-8 {
    background: url(../Assets/Photos/cardImage8.png);
    /* background-size: 500px; */
    /* background-position: 50%; */
    background-size: cover;
    height: 450px;
    width: 400px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}

.gallary-9 {
    background: url(../Assets/Photos/cardImage9.png);
    /* background-size: 500px; */
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 400px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 100px;
}

/* .gallary {
    transition: all ease-in-out 0.5s;
}

.gallary:hover .property-info{
    z-index: -2;
} */
.property-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    background-color: #FEFEFE;
    height: 120px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    position: relative;
    top: 50px;
    transition: all ease-in-out 0.5s;
}

.property-info button {
    background-color: #6663E9;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
}

.property-info button:hover {
    background-color: #6663E9;
}

.info-flex {
    display: flex;
    flex-direction: column;
}

.info-flex p:nth-child(1) {
    font-size: 28px;
    font-weight: 400;
}

.info-flex p:nth-child(2) {
    font-size: 20px;
    font-weight: 500;
    color: #6663E9;
}